<!-- main container -->
<div id="feedContainer" class="wrapper">
    <!-- search button -->
    <div class="row search-wrapper">
        <div class="input-field col-5 mx-auto mb-3">
            <i class="material-icons prefix pt-3">search</i>
            <input id="searchSurvey" placeholder="Search" type="text">
        </div>
    </div>
    <!-- Survey Card -->
	<div class="row">
	    <div class="col s12 m6">
		{{#each surveyDetails}}
	        <div class="card horizontal surveyCard" id="surveyCard{{survey_id}}">
	            <div class="card-body">
	                <h5 class="card-title">{{survey_name}}</h5>
	                <p class="card-text">{{survey_desc}}</p>
	                <button type="button" id="btn{{survey_id}}" class="btn btn-primary view-survey">
	                    Survey Results
	                </button>
	            </div>
	        </div>
		{{/each}}
	    </div>
	</div>
    <!-- Popup Modal -->
    <div class="modal fade" id="modelSurveyResult" tabindex="-1" role="dialog" aria-labelledby="modelSurveyResultLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="modelDialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelSurveyResultLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="popChart" width="600" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <img id="img_mainlogo" class="" src="./assets/images/burger.png" alt="Generic placeholder image">
                <h3 id="text_logo" class="text-center">Devoured!</h3>
                <form class="form-inline justify-content-center" action="/burger" method="post">
                    <input type="text" class="form-control" id="text_newBurger" placeholder="Enter the burger you would like devoured!" name="burger_name">
                    <button type="submit" class="btn btn-secondary" id="btn_newBurger">Submit</button>
                </form>
                <hr class="m-y-md">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6" id="div_awaitingDevoured">
                <h5 class="text-center" id="text_colHeader">Devour it!</h5>

				  {{#each burgers}}
				    {{#unless devoured}}
				        <div class="card" id="card_devourIt" data-id="{{id}}">
				            <div class="card-body">
				                <h6 class="card-title float-left" id="card_devourItText">{{burger_name}}</h6>
		                    	<form action="/burger/{{id}}?_method=PUT" method="POST">
								   	<input type="hidden" name="burger_name" value="{{burger_name}}">
								   	<input type="hidden" name="devoured" value="1">
		      						<button type="submit" class="btn btn-primary float-right" id="btn_devourit">Devour it!</button>
		                    	</form>				            
							</div>
				        </div>
				    {{/unless}}
				  {{/each}}

            </div>
            <div class="col-md-6" id="div_devoured">
				<h5 class="text-center" id="text_colHeader">Devoured!</h5>
				  {{#each burgers}}
				    {{#if devoured}}
		                <div class="card" id="card_devoured" data-id="{{id}}">
		                    <div class="card-body ">
		                        <h6 class="card-title float-left ">{{burger_name}}</h6>
		                    	<form action="/burger/{{id}}?_method=DELETE" method="POST">
		      						<button type="submit" class="btn btn-primary float-right" id="btn_devourit">Digested!</button>
		                    	</form>				            
		                    </div>
		                </div>
				    {{/if}}
				  {{/each}}

            </div>
        </div>
    </div>
    <div class="fixed-bottom div-footer ">
        <a href=" " class="float-left ml-5 text-white ">API Documentation</a>
        <p class="float-right mr-5 text-white ">&copy; Copyright 2018 Ravish Rao</p>
    </div>